.ce_schachturnier {
	margin-bottom: 10px;
}

.ce_schachturnier th,
.ce_schachturnier td {
	padding: 5px;
}

.ce_schachturnier tr {
	background-color: #ffffff;
	color: #000000;
}

.ce_schachturnier tr.kopf th {
	background-color: #3A3A3A;
	color: #ffffff;
}

.ce_schachturnier tr.freilos {
	background-color: #F7F7F7;
	color: #5B5B5B;
}

.ce_schachturnier td.board {
	width: 4%;
}

.ce_schachturnier td.result {
	width: 8%;
	text-align: center;
}

.ce_schachturnier td.name {
	width: 36%;
}

.ce_schachturnier td.rating {
	width: 8%;
}

.ce_schachturnier td.info {
	font-size: 12px;
}

.ce_schachturnier span.abgesagt {
	color: #FF0000;
}

.ce_schachturnier th.ergebnis,
.ce_schachturnier td.ergebnis {
	min-width: 22px;
	max-width: 22px;
	text-align: center;
}

.ce_schachturnier td.blindfeld {
	background-color: #3A3A3A;
	color: #3A3A3A;
}
